#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh  $@

override_dh_auto_configure:
	# Make Gazebo find ROS's OGRE and urdfdom libraries
	# Use the DEBUG version to obtain debug symbol information
	dh_auto_configure -- -DPKG_CONFIG_PATH=/opt/ros/fuerte/lib/pkgconfig:/opt/ros/fuerte/stacks/visualization_common/ogre/ogre/lib/pkgconfig -DCMAKE_BUILD_TYPE=Debug

override_dh_shlibdeps:
	LD_LIBRARY_PATH=/opt/ros/fuerte/lib:/opt/ros/fuerte/stacks/visualization_common/ogre/ogre/lib dh_shlibdeps -- --ignore-missing-info

override_dh_auto_install:
	dh_auto_install --destdir=debian/gazebo

override_dh_auto_test:
	echo -- Skipping tests
	#dh_auto_test
	true

override_dh_strip:
	dh_strip --dbg-package=gazebo-dbg
