Source: gazebo2
Standards-Version: 3.9.3
Maintainer: Nate Koenig <nate@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake,
     debhelper (>= 7.0.50~),
     doxygen,
     doxygen-latex,
     libfreeimage-dev,
     libprotoc-dev,
     libprotobuf-dev,
     protobuf-compiler,
     freeglut3-dev,
     libcurl4-openssl-dev,
     libtinyxml-dev,
     libtar-dev,
     libtbb-dev,
     libogre-dev,
     libxml2-dev,
     pkg-config,
     libqt4-dev,
     libltdl-dev,
     libboost-thread-dev,
     libboost-signals-dev,
     libboost-system-dev,
     libboost-filesystem-dev,
     libboost-program-options-dev,
     libboost-regex-dev,
     libboost-iostreams-dev,
     robot-player-dev,
     libcegui-mk2-dev,
     libavformat-dev,
     libavcodec-dev,
     libswscale-dev,
     ruby-ronn,
     libsdformat-dev (>= 1.4.7~)
Vcs-Browser: https://bitbucket.org/osrf/gazebo2-release
Vcs-Hg: https://bitbucket.org/osrf/gazebo2-release
Homepage: http://gazebo.org

Package: gazebo2
Architecture: any
Section: devel
Priority: extra
Depends: libfreeimage3,
     libprotoc7,
     libprotobuf-dev,
     freeglut3,
     libcurl4-openssl-dev,
     libtinyxml2.6.2,
     libtar0,
     libtbb2,
     libtbb-dev,
     libogre-dev,
     libxml2,
     pkg-config,
     libqtcore4,
     libqtgui4,
     libltdl7,
     libboost-thread1.49.0,
     libboost-signals1.49.0,
     libboost-system1.49.0,
     libboost-filesystem1.49.0,
     libboost-program-options1.49.0,
     libboost-regex1.49.0,
     libboost-iostreams1.49.0,
     robot-player,
     libcegui-mk2-0.7.6,
     libcegui-mk2-dev,
     libavformat53 | libavformat-extra-53,
     libavcodec53 | libavcodec-extra-53,
     libswscale2 | libswscale-extra-2,
     libsdformat-dev (>= 1.4.7~),
     ttf-dejavu-core,
     ${misc:Depends}
Provides: gazebo2-provider
Conflicts: gazebo2,
           gazebo2-prerelease,
           gazebo2-nightly
Description: Gazebo simulator - Main package
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains all the main files to make the simulator work,
 including executables, libraries, models, etc.

Package: gazebo2-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    gazebo2 (= ${binary:Version}), ${misc:Depends}
Description: Gazebo simulator - Debugging symbols 
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the debugging symbols.
