[Desktop Entry]
Name=Gazebo
Comment=3-D Robot simulator
Exec=bash -c '. /usr/share/gazebo/setup.sh && gazebo'
Icon=gazebo
Type=Application
Categories=Development;Science;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Keywords=Run;
Actions=New
